.Push{
    padding: 10px 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 3000;
    top: 80px;
    right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color:white;
    width: 300px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Push>strong{
    font-size: 16px;
}

.Push>p{
    margin-top: 10px;
    font-weight: 100;
}

/* Types */
.Push--sucessful{
    background-color: #F0FDF4;
    color: #145335;
    border: 1px solid #c0f7d3;
}

.Push--warning{
    background-color: #FEFCE8;
    color: #7F4123;
    border: 1px solid #FEF3A1;
}

.Push--danger{
    background-color: #FEF2F2;
    color: #DC2626;
    border: 1px solid #FEDDDD;
}

.Push--info{
    background-color: #EFF6FF;
    color: #4e81f1;
    border: 1px solid #D7E8FE;
}