.Eye{
    display: block;
    background-color: inherit;
    border: none;
    cursor: pointer;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.Eye>img{
    width: 100%;
}