.CardNotifierModify{
    width: 95%;
    margin: 10px auto 0;
    background-color: var(--bg-1);
    padding: 10px 10px;
    box-shadow: var(--box-shadow);
}

.CardNotifierModify>span{
    
}

.CardNotifierModify__buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.CardNotifierModify>div>button,.CardNotifierModify__buttons>button{
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--color-3);
}

.CardNotifierModify__button--success{
    background-color: var(--bg-alert-successful);
}

.CardNotifierModify__button--failed{
    background-color: inherit !important;
    color: var(--color-1) !important;
    border:1px solid var(--bg-alert-successful) !important;
}

.CardNotifierModify__title{
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    color: var(--color-5);
}

.CardNotifierModify__subhead{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.CardNotifierModify__subhead>a{
    text-decoration: none;
    font-weight: 100;
    margin-top: 10px;
    color: var(--color-5);
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.CardNotifierModify__subhead>a::before{
    content: '>>';
    display: inline;
}


.CardNotifierModify__dates{
    width: 100%;
}


.CardNotifierModify__datesRestruct{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.CardNotifierModify__datesRestruct>label{
    font-weight: 600;
    color: var(--color-5);
    font-size: 14px;
    margin-bottom: 5px;
}

.CardNotifierModify__datesRestruct>input{
    width: 60%;
    text-align: right;
    margin-bottom: 5px;
}

.CardNotifierModify__datesCondonacion,.CardNotifierModify__datesCondonacion--head{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}



.CardNotifierModify__datesCondonacion--head>label{
    color: var(--color-5) !important;
    text-align: center !important;
    font-size: 14px !important;
}

.CardNotifierModify__datesCondonacion>label{
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: var(--color-5);
    margin-top: 5px;
}

.CardNotifierModify__datesCondonacion>label>input{
    width: 100px;
}


