.InfoFees{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin: 10px 0;
    box-shadow: var(--box-shadow);
    background-color: rgb(245, 208, 128);
    border-radius: 10px;
}

.InfoFees>div{
    width: 100%;
    border-right: 1px solid rgb(247, 229, 208);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.InfoFees>div>p{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.InfoFees>div>h3{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}