.SectionManagement{
    margin-top: 10px;
}

.SectionManagement__header{
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 30%;
    align-items: center;
    font-size: 12px;
    text-align: center;
    font-size: 12px;
    background-color: var(--bg-alert-error);
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
}