.CardNewCampo{
    width: 500px;
    background-color: var(--bg-2);
    border-radius: 5px;
}

.CardNewCampo>p{
    height: 40px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--bg-alert-successful);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    color: var(--color-3);
    font-size: 14px;
}

.CardNewCampo__intro{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.CardNewCampo--select{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 100;
}

.CardNewCampo--select>select,.CardNewCampo--select>input{
    width: 100%;
    margin-top: 5px;
    height: 40px;
    border-radius: 2px;
    /* font-weight: 100; */
    border: 1px solid rgb(210, 210, 210);
}

.CardNewCampo__previsualizer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px auto 0;
    padding: 20px 20px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}

.CardNewCampo__footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--bg-alert-successful);
    padding: 10px;
}

.CardNewCampo__footer>button{
    height: 35px;
    border-radius: 2px;
    background-color:#008682;
    color: var(--color-3);
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}