.CardManagement{
    width: 100%;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 40%;
    align-items: center;
    font-size: 12px;
    text-align: center;
}

.CardManagement:nth-child(2n+2){
    background-color: rgb(245, 245, 245);
}