/* =================================================Estilos del Login=============================================== */
.ContentLogin{
    width: 100%;
    height: calc(100vh - var(--height-header));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ContentLogin>a{
    position: absolute;
    top: 50px;
    right: 50px;
}
.Login{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 20px;
}

.Login>img{
    width: 70%;
    margin: 0 auto 40px;
}

.Login>h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-1);
}

.Login>p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 14px;
}

.Login__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login__form>a{
    align-self: start;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--color-links);
}

.Login__form>label{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--color-4);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-2);
    position: relative;
}

.Login__form>label>input{
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color:inherit;
    color: var(--color-5);
}

.Login__form>label>input:focus,.Login__form>label>input:hover{
    outline: none;
}

.Login__form>button{
    width: 100%;
    height: 40px;
    border: 1px solid var(--bg-buttons);
    background-color: var(--bg-buttons);
    border-radius: 5px;
    color: var(--color-3);
    cursor: pointer;
}


/* =============================DASHBOARD=============================== */
.Dashboard{
    width: 100%;
    height: calc(100vh - var(--height-header));
    display: grid;
    grid-template-columns: 12% 88%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
}

.Dashboard__navSlide{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background-color: var(--bg-buttons);
    position: sticky;
    top: var(--height-header);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.Dashboard__navSlide>div:first-child{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    margin-top: -10px;
    cursor: pointer;
}

.Dashboard__navSlide>div:first-child>img{
    width: 35px;
    margin-right: 0;
    cursor: pointer;
}

.closeIcon{
    margin-right: 10px;
}

.Dashboard__navSlide>a,.Dashboard__navSlide>div{
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    color: var(--color-3);
    text-decoration: none;
    margin-bottom: 20px;
}

.Dashboard__navSlide>a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Dashboard__navSlide>div{
    width: 100%;
    position: relative;
}

.Dashboard__navSlide>a>img,.Dashboard__navSlide>div>img{
    margin-right: 10px;
    width: 25px;
}

.Dashboard__currentPage{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px;
}

/* =========================== CONSULTA ========================== */

.pageConsulta{
    width: 100%;
}

.pageConsulta>.CardPay{
    background-color: rgba(0, 0, 0, 0.348);
}

.pageConsulta>.CardPay>button{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.pageConsulta>*{
    font-family: 'Courier New', Courier, monospace;
}

.pageConsulta__search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pageConsulta__search>label{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-2);
    font-size: 15px;
    position: relative;
}

.pageConsulta__search>label>div{
    background-color: var(--bg-2);
    border-radius: 2px;
    padding: 10px 10px;
    position: absolute;
    bottom: -60%;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.pageConsulta__search>label>div>a{
    color: black;
}

.pageConsulta__search>label>input{
    width: 350px;
    margin-top: 5px;
    background-color: inherit;
    border: none;
    font-size: 24px;
    color: grey;
}

.pageConsulta__prevResult{
    width: 50%;
    background-color: var(--bg-2);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
    position: absolute;
    bottom: -100%;
    transform: translateY(calc(100% - 50px));
}

.pageConsulta__prevResult>button{
    border:none;
    border-radius: inherit;
    background-color: inherit;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 5px 5px;
    color: rgb(77, 157, 192);
    cursor: pointer;
}

.pageConsulta__prevResult--space{
    margin: 0 10px;
}

.pageConsulta__search>label>input:hover,.pageConsulta__search>label>input:focus{
    outline: none;
}

.pageConsulta__results{
    width: 100%;
}

.pageConsulta__subtitle{
    margin-top: 10px;
    color: var(--color-5);
    font-size: 16px;
}

.pageConsulta__results>p{
    font-weight: 100;
    margin-top: 10px;
}

.pageConsulta__userDates{
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.pageConsulta__userDates>h1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-3);
    background-color: var(--bg-alert-successful);
    border-radius: 50%;
}

.pageConsulta__userDates>div{
    width: 100%;
    background-color: var(--bg-2);
    padding: 40px 40px;
    border-radius: 5px;
}

.pageConsulta__userDates>div>div>div{
    margin: 10px 0;
}

.pageConsulta__userDates>div>div>div>p{
    color: grey;
    font-size:14px;
    margin-bottom: 2px;
}

.pageConsulta__userDates--acceptValue{
    color:var(--color-1) !important;
    font-weight: bold;
}

.pageConsulta__userDates>div>p{
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.pageConsulta__userDates>div>div{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.pageConsulta__userDates>div>div>h2{
    color: var(--bg-alert-error);
    font-size: 16px;
    margin-bottom:5px;
}

.pageConsulta__userDates>div>div>label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 14px;
    position: relative;
    border: 1px solid rgb(198, 198, 198);
    padding: 5px;
    border-radius: 5px;
}

.pageConsulta__userDates>div>div>label>button{
    background-color: var(--bg-alert-successful);
    width: 60px;
    padding: 5px 0;
    font-size: 13px;
    position: absolute;
    border: none;
    border-radius: 2px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-3);
    cursor: pointer;
}

.pageConsulta__userDates>div>div>label>input{
    width: 200px;
    height: 25px;
    border-radius: 2px;
    border: none;
    margin-top: 5px;
}

.pageConsulta__userDates>div>div>label>input:focus,.pageConsulta__userDates>div>div>label>input:hover{
    outline: none;
}

.pageConsulta__userDates>div>div>button{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    font-size: 12px;
    cursor: pointer;
}

.pageConsulta__monitor{
    width: 100%;
    height: calc(100vh - 100px);
}

.pageConsulta__monitorHead{
    width: 100%;
    display: grid;
    background-color: var(--bg-alert-error);
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.pageConsulta__monitorHead>label{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-3);
}

.pageConsulta__monitorHead>label>select{
    margin-top: 5px;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color:#FEC888;
}

/* =========================== DETAIL CREDIT ========================== */
.DetailCredit{
    width: 100%;
}

.DetailCredit__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.DetailCredit__sections{
    width: 100%;
    display:flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column !important;
}

.DetailCredit__sections>div>p{
    color: var(--color-1);
    font-size: 16px;
    font-weight: 700 !important;
}

.DetailCredit__sections>div>label{
    color: black !important;
    font-weight: 100 !important;
}

.DetailCredit__head>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DetailCredit__head>div:first-child{
    align-items: flex-start;
}

.DetailCredit__head>div>p{
    color: var(--color-1);
    font-size: 16px;
}

.DetailCredit__head>div>label{
    font-weight: 100;
    font-size: 14px;
    padding-left: 10px;
}

.DetailCredit__head--label{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-direction: row !important;
}

.DetailCredit__head--label>label{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px !important;
}

.DetailCredit__head--label>label>select{
    margin-top: 5px;
    height: 40px;
}

.DetailCredit__functions{
    width: 100%;
    display: grid !important;
    grid-template-columns: 300px 300px;
    margin-bottom: 20px;
}

.DetailCredit__btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.DetailCredit__btn>label{
    font-size: 16px;
    margin-top: 10px;
}

.DetailCredit__btn>a{
    margin-top: 10px;
    width: 150px;
    color: var(--color-3);
    text-decoration: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 35px;
    border-radius: 2px;
    background-color: var(--bg-alert-successful);
}

.DetailCredit__pays{
    width: 100%;
}

.DetailCredit__details{
    width: 100%;
    margin: 20px 20px;
}

.DetailCredit__dates{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.DetailCredit__general{
    width: 300px;
}

.DetailCredit__dates>.DetailCredit__general:nth-child(2),.DetailCredit__dates>.DetailCredit__general:nth-child(3){
    margin-left: 20px;
}

.DetailCredit__general>h3,.DetailCredit__actions>h3{
    font-size: 16px;
    align-self: flex-start;
    font-weight: normal;
    color: var(--color-1);
}

.DetailCredit__actions{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.DetailCredit__actions>:nth-child(2){
    margin-top: 20px;
}

.DetailCredit__actions>button,.DetailCredit__actions>a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

.DetailCredit__actions>button,.DetailCredit__actions>a{
    text-decoration: none;
    height: 40px;
    width: 110px;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    background-color: var(--bg-alert-successful);
    border: none;
    border-radius: 2px;
    color: var(--color-3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailCredit__table{
    width: 100%;
    margin-top: 20px;
}

.DetailCredit__table>div{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 35% 65%;
    position: relative;
}

.DetailCredit__table>div>div{
    width: 30px;
    height: 30px;
    background-color: var(--bg-alert-successful);
    border-radius: 2px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailCredit__table>div>div::before{
    content:'';
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    border-top: 6px solid var(--bg-2);
    position: absolute;   
    cursor: pointer;   
    transition: all 0.2s ease-in-out;    
    transform: rotate(0deg);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

.DetailCredit__table>div:first-child{
    border-top-left-radius: 5px;
}
.DetailCredit__table>div:last-child{
    border-bottom-left-radius: 5px;
}

.Head{
    width: 100%;
    background-color: var(--bg-alert-error);
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    border-radius: inherit;
    font-weight:bold;
    color: var(--color-3);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.Head--pr{
    background-color: var(--bg-alert-successful) !important;
}

.Head--reduce{
    background-color: var(--bg-alert-error-reduce) !important;
}

.Head--se{
    background-color: var(--bg-alert-error-pr) !important;
}

.DetailCredit__table>div>span{
    width: 100%;
    height: 40px;
    background-color: var(--bg-2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 14px;
}

.DetailCredit__table>div:first-child>span{
    border-top-right-radius: 5px;
}

.DetailCredit__table>div:last-child>span{
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

.DetailCredit__table>div:last-child>p,.DetailCredit__table>div:last-child>span{
    border-bottom: none;
}

.Item{
    background-color: var(--bg-2);
    height: 50px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight:100;
    margin-bottom: 10px;
}

.DetailCredit__section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.DetailCredit__section>div{
    width: 100%;
}

.DetailCredit__section>div>label{
    font-weight: 600;
    color: var(--color-2);
    margin-left: 20px;
}

.DetailCredit__details>div{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.DetailCredit__details>div>a{
    text-decoration: none;
    color: rgb(77, 157, 192);
}

.DetailCredit__details>div>label{
    font-weight: 100;
}

.DetailCredit__details>div>p{
    width: 100%;
    background-color: var(--bg-alert-successful);
    padding: 10px 10px;
    color: var(--color-3);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid var(--color-3);
}

.DetailCredit__details>div>span{
    background-color: var(--bg-2);
    padding: 10px 10px;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .DetailCredit__details>div>span:hover{
    overflow: auto;
}

.DetailCredit__details>div:first-child>p:first-child{
    border-top-left-radius: 5px;
}

.DetailCredit__details>div:first-child>span{
    border-top-right-radius: 5px;
}

.DetailCredit__details>div:last-child>p{
    border-bottom-left-radius: 5px;
}

.DetailCredit__details>div:last-child>span{
    border-bottom-right-radius: 5px;
} */

.DetailCredit__pays>div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.DetailCredit__comprobantes>div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.DetailCredit__comprobantes>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailCredit__pays--filter{
    width: 100%;
    display: flex;
}

.DetailCredit__pays--filter>div{

}

.DetailCredit__pays--filter>div>input{
    width: 100%;
    background-color: #FEC888;
    text-align: center;
    color: black;
    border: none;
}

.DetailCredit__comprobantes>div>div>button{
    border: none;
    background-color: inherit;
    color: rgb(77, 157, 192);
    cursor: pointer;
}

.DetailCredit__pays>div:first-child,.DetailCredit__comprobantes>div:first-child{
    height: 50px;
    background-color: var(--bg-alert-error) !important;
    padding: 5px 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.DetailCredit__pays>div:first-child{
    height: initial;
}

.DetailCredit__pays>div,.DetailCredit__comprobantes>div{
    width: 100%;
    padding: 10px 10px;
}

.DetailCredit__pays>div:last-child,.DetailCredit__comprobantes>div:last-child{
    margin-bottom: 20px;
}

.DetailCredit__pays>div>a{
    text-decoration: none;
    color: rgb(77, 157, 192);
    text-align: center;
    font-size: 14px;
}

.DetailCredit__pays>div>label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-3);
    font-weight: bold;
    font-size: 14px;
    flex-direction: column;
}

.DetailCredit__pays>div>label>input{
    width: 100%;
    height: 30px;
    background-color: #FEC888;
    border: none;
    border-radius: 2px;
    margin: 5px auto 0;
}

.DetailCredit__pays>div>label>input:focus{
    outline: none;
    padding-left: 5px;
}

.DetailCredit__pays>div>label>select{
    width: 100%;
    height: 30px;
    background-color: #FEC888;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
}

.DetailCredit__pays>div>p,.DetailCredit__comprobantes>div>p{
    font-weight: 100;
    text-align: center;
}

.DetailCredit__pays>div:first-child>p,.DetailCredit__pays>div:first-child>div>p,.DetailCredit__comprobantes>div:first-child>p{
    font-weight: bold;
    color: var(--color-3);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.DetailCredit__pays>div:first-child>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DetailCredit__pays>div:first-child>div>p{
    margin-bottom: 5px;
}

.DetailCredit__pays>div:nth-child(2n+1),.DetailCredit__comprobantes>div:nth-child(2n+1){
    background-color: var(--bg-2);
}

.DetailCredit__comprobantes>div>button{
    width: 40px;
    margin: 0 auto;
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: block;
    position: relative !important;
}


.DetailCredit__comprobantes--active{

}

.DetailCredit__comprobantes>div>button>img{
    width: 100%;
}

.DetailCredit__access{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.DetailCredit__access>p{
    font-size: 14px;
    font-weight: 100;
}

.DetailCredit__access>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailCredit__access>div>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.DetailCredit__access>button{
    justify-self: flex-end;
    height: 40px;
    border: none;
    background-color: var(--bg-alert-successful);
    border-radius: 4px;
    color: var(--color-3);
    width: 120px;
    cursor: pointer;
}

.DetailCredit__access>div>button{
    justify-self: flex-end;
    height: 40px;
    border: none;
    background-color: var(--bg-alert-successful);
    border-radius: 4px;
    color: var(--color-3);
    width: 120px;
    cursor: pointer;
}

.DetailCredit__access>div>button:first-child{
    margin-right: 10px;
}

.DetailCredit__head>a{
    display: block;
    text-decoration: none;
    color: rgb(77, 157, 192);
    font-size: 14px;
    margin-bottom: 25px !important;
}

.DetailCredit__head>a::before{
    content: '<< ';
}

.DetailCredit__head>button{
    background-color: var(--bg-alert-successful);
    height: 35px;
    color: var(--color-3);
    width: 100px;
    border: none;
    cursor: pointer;
}

.DetailCredit__head>label{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.DetailCredit__head--label>button{
    height: 40px;
    align-self: flex-end;
    margin-right: 5px;
    cursor: pointer;
}

.DetailCredit__head>label>select{
    margin-top: 5px;
}

.DetailCredit__activity{
    width: 100%;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border-radius: 2px;
    margin-top: 10px;
}

.DetailCredit__activity>p{
    font-size: 14px;
    margin-bottom: 10px;
}

.DetailCredit__activity>span{
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* =============================== PARA VER INFO CRÉDITOS SYNCS ============= */
.DetailCredit__information{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    box-sizing: border-box;
}

.DetailCredit__datesCredit{
    width: 100%;
    padding: 20px 20px;
    background-color: var(--bg-2);
    border-radius: 5px;
}

.DetailCredit__datesCredit>div{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.DetailCredit__datesCredit>div>label:first-child{
    font-weight: bold;
}

.DetailCredit__contacts,.DetailCredit__gestiones,.DetailCredit__pagos{
    width: 100%;
}

.DetailCredit__contactsHead{
    width: 100%;
    height: 40px;
    background-color: var(--bg-alert-error);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    margin-top: 10px;
    border-top-right-radius: 5px;
}

.DetailCredit__contactsItem{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.DetailCredit__contactsHead>label,.DetailCredit__gestionesHead>label,.DetailCredit__pagosHead>label{
    font-weight: bold;
    text-align: center;
}

.DetailCredit__gestionesHead{
    width: 100%;
    height: 40px;
    background-color: var(--bg-alert-error);
    display: grid;
    grid-template-columns: 10% 25% 10% 25% 20%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    margin-top: 10px;
    border-top-right-radius: 5px;
}

.DetailCredit__gestionesItem{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 10% 25% 10% 25% 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.DetailCredit__pagosHead{
    width: 100%;
    height: 40px;
    background-color: var(--bg-alert-error);
    display: grid;
    grid-template-columns: 5% 15% 15% 10% 15% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    font-size: 13px;
    margin-top: 10px;
    border-top-right-radius: 5px;
}

/* =============================== USUARIOS ================================ */
.pageUsuarios{
    width: 100%;
}

.pageUsuarios>div{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 30% 30% 10% 15% 10%;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
}

.pageUsuarios__head{
    height: 50px;
    background-color: var(--bg-alert-error) !important;
}

.pageUsuarios__access{
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    gap: 10px !important;
    padding: 0 0 !important;
    background-color: var(--bg-1) !important;
    margin-bottom: 10px;
}

.pageUsuarios__access>button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    cursor: pointer;
}

.pageUsuarios__saveChanges{
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--color-error) !important;
    color: var(--color-3);
}

.pageUsuarios>div:nth-child(2n+1){
    background-color: var(--bg-2);
}

.pageUsuarios>div>p{
    color: var(--color-3);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

/* =============================== CONFIGURACIÓN ================================ */



/* =============================== GESTIÓN ================================ */
.Crm{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    align-items: flex-start;
    position: sticky !important;
    top:0;
}

.Crm>div:last-child{
    padding: 10px 0 10px 10px;
}


/* =============================== HOME ================================== */
.Home{
    width: 100%;
}
.Home__head{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.Home__stadisticOne{
    margin: 10px 0;
    width: 100%;
    display: grid;
    /* grid-template-columns: 2fr 3fr; */
    grid-template-columns: 1fr;
    gap: 10px;
}

.Home__stadisticOne>div{
    width: 100%;
    margin: 20px 0;
    box-shadow: var(--box-shadow);
    padding: 10px 10px;
    background-color: var(--bg-2);
}

.Home__stadisticOne>div>div{
    width: 100%;
    height: calc(100vh - 200px) !important;
}

.Home__stadisticOne>div>h3,.Home__stadisticOne>div>div>h3{
    margin-bottom: 20px;
    color: var(--color-1);
}

.Home__stadisticOne>div>canvas{
    width: 100% !important;
    font-weight: 100 !important;
    object-fit:fill !important;
}

.Home__stadisticOne>div:last-child{
    background-color: inherit !important;
    box-shadow: none !important;
    display: grid;
    padding: 0 !important;
    grid-template-columns: 1fr;
}

.Home__stadisticOne>div:last-child>div{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    padding: 10px 10px;
    background-color: var(--bg-2);
}

.Home__stadisticOne>div:last-child>div:first-child{
    margin-bottom: 10px;
}

.Home__graphicFilter{
    width: 450px !important;
    border-radius: 2px !important;
    right: 0 !important;
    background-color: var(--bg-alert-successful) !important;
    height: initial !important;
    padding: 5px 5px !important;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home__graphicFilter>label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-3);
    font-size: 14px;
}

.Home__graphicFilter>label>input,.Home__graphicFilter>label>select{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}

/* ================================ REPORTES ===================================== */
.Reports{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items:flex-start;
    grid-template-columns: 1fr;
}

.Reports__title{
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--color-1);
}

.Reports__filters{
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 10px;
}

.Reports__filters--columns-5{
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Reports__filters--columns-8{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.Reports__filter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Reports__filter{
    font-size: 14px;
    font-weight:100;
}

.Reports__filter>input,.Reports__filter>select{
    width: 100%;
    height: 30px;
    background-color: var(--bg-2);
    border: 1px solid var(--color-4);
    border-radius:2px;
    margin-top: 5px;
    text-align: center;
    font-weight:100;
}

.Reports__button{
    width: 100%;
    height: 30px;
    background-color: var(--bg-alert-successful);
    border-radius: 2px;
    border: 1px solid var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--color-3);
    text-decoration: none;
    font-weight: 600;
}

.Reports__results{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.Reports__resultsResume{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.Reports__resultsResume>div:first-child{
    width: 400px;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border-radius: 2px;
}

.Reports__resultsResumePrincipal{
    width: 300px !important;
    padding: 10px 10px !important;
    background-color: var(--bg-2) !important;
    border-radius: 2px !important;
}

.Reports__resultRubro{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.Reports__resultHead{
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.Reports__resultHead>p{
    margin-bottom: 5px;
    font-size: 14px;
}

.Reports__resultTotals,.Reports__resultsResume>div:last-child{
    width: 200px !important;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border-radius: 2px;
}

.Reports__resultsResume>div:last-child{
    width: 300px !important;
}   

.Reports__resultsResume>div{
    background-color: var(--bg-2);
    padding: 10px 10px;
}

.Reports__resultsResume>div>select{
    width: 100%;
    height: 30px;
    background-color: var(--bg-2);
    border: 1px solid var(--color-4);
    border-radius:2px;
    margin-bottom: 10px;
    text-align: center;
    font-weight:100;
}

.Reports__resultsResume>div>p{
    font-size: 14px;
    margin-bottom: 5px;
    word-break: break-all;
}

.Reports__resultsResume>div>h4{
    color: var(--color-2);
    margin-bottom: 10px;
}

.Reports__resultsResumeColumns{
    display: grid !important;
    grid-template-columns: 50% 25% 25% !important;
    text-align: center;
}

.Reports__resultsRangeColumn{
    display: grid !important;
    grid-template-columns: 40% 20% 40% !important;
    text-align: center;
}

.Reports__resultsResumeColumns>p,.Reports__resultsRangeColumn>p{
    font-weight: 600;
    font-size: 16px;
}

.Reports__resultsResume>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Reports__resultsResume>div>div{
    margin-bottom: 10px;
}

.Reports__resultsResume>div>div>label,.Reports__resultsResume>div>div>span{
    font-size: 14px;
    font-weight: 100;
}

.Reports__resultGraphic{
    width: 100%;
    background-color: var(--bg-2);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Reports__resultFilter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Reports__resultFilter>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Reports__resultFilter>div>label{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
}

.Reports__resultFilter>div>label>input{
    margin-top: 5px;
    height: 35px;
}

.Reports__resultFilter>h3{
    color: var(--color-2);
    font-size: 16px;
}

.Reports__resultFilter>label{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bold;
    color: var(--color-1);
}

.Reports__resultFilter>label>input{
    margin-top: 5px;
    height: 30px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}

.Reports__resultGraphic>h3,.Reports__resumeGraphic>div>h3{
    color: var(--color-2);
    font-size: 16px;
}

.Reports__resumeGraphic{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.Reports__resumeGraphic>canvas,.Reports__resumeGraphic>div>canvas{
    width: 100% !important;
}

.Reports__resumeGraphic>div{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
}


.Comprobante__revert{
    background-color: rgba(241, 120, 120, 0.391) !important;
}

/* .Reports>div{
    width: 100%;
    overflow-x: auto;
} */

/* .Reports__headers{
    width: 300%;
    height: 40px;
    background-color: var(--bg-alert-error);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 8fr 7fr 7fr;
    overflow-x: auto;
}

.Reports__headers>div:nth-child(2){
    border-left: 1px solid var(--color-3);
    border-right: 1px solid var(--color-3);
}

.Reports__subheaders,.Reports__items{
    width: 300%;
    height: 40px;
    background-color: rgba(229, 126, 47, 0.396);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: auto;
}

.Reports__subheaders>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reports__headers>div>label{
    font-size: 16px;
}

.Reports__subheaders>div>label{
    font-weight: bold;
    font-size: 14px;
    color: var(--color-3);
}

.Reports__items{
    background-color: var(--bg-2);
    height: 40px;
    overflow-y: auto;
}

.Reports__items>div{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 14px;
    align-items: center;
}

.Reports__headers>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-3);
    font-weight: bold;
    font-size: 14px;
    position: relative;
} */

/* ============================================ PÁGINA DE GESTIÓN =========================================== */
.Gestion{
    width: 100%;
    padding-bottom: 60px !important;
}

.Gestion>h4{
    margin-bottom:10px;
    font-size: 16px;
    color: var(--color-1);
}

.Gestion__head{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 10% 15% 10% 10% 10% 10% 15%;
    justify-content: center;
    align-items:center;
    height: 70px;
    background-color: var(--bg-alert-error);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Gestion__item{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 10% 15% 10% 10% 10% 10% 15%;
    justify-content: center;
    align-items:center;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Gestion__item>button{
    background-color: var(--bg-alert-successful);
    height: 35px;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    width: 35px;
}

.Gestion__item:nth-child(2n+1){
    background-color: var(--bg-2);
}

.Gestion__head>div{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Gestion__head>div:nth-child(2),.Gestion__head>div:nth-child(3){
    justify-content: center;
}

.Gestion__head>div>label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-3);
}

.Gestion__head>div>label>input{
    width: 90%;
    margin-top: 5px;
    color: var(--color-3);
    background-color: #FEC888;
    border: none;
    color: black;
}

.Gestion__head>div>select,.Gestion__head>div>input{
    width: 90%;
    height: 35px;
    background-color: #FEC888;
    border: none;
    border-radius: 2px;
}

.Gestion__head>div>div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Gestion__head>div>div>div{
    width: 50%;
}

.Gestion__head>div>div>div>label{
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: var(--color-3);
}

.Gestion__head>div>div>div>input{
    width: 100%;
    background-color: #FEC888;
    border: none;
    margin-top: 5px;
}

/* ============================================== CAMPAÑAS ================================================ */

.Campain__content{
    width: 60%;
}

.Campain__title,.Campain__subtitle{
    color: var(--color-1);
}

.Campain__title{
    margin-bottom: 20px;
}

.Campain__subtitle{
    margin-bottom: 10px;
}

.Campain__sincronice{
    width: 100%;
}

.Campain__sincronice>div{
    width: 100%;
    background-color: var(--bg-2);
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(214, 214, 214);
}

.Campain__list{
    width: 100%;
}

.Campain__access{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Campain__access>button{
    width: 150px;
    height: 40px;
    color: var(--color-3);
    background-color: var(--bg-alert-successful);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.Campain__head{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--bg-alert-error);
    height: 40px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Campain__head>label{
    text-align: center;
    color: var(--color-3);
    font-size: 14px;
    font-weight: bold;
}

.Campain__item{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Campain__item>label{
    font-weight: 100;
    text-align: center;
}

.Campain__item>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Campain__item>div>button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--bg-alert-successful);
    border-radius: 2px;
    cursor: pointer;
}

.Campain__item>div>button>img{
    width: 20px;
}

/* =========================================== PLANTILLAS DE GESTIÓN ================================================== */

.Templates{
    width: 70%;
}

.Templates__init{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Templates__init>button{
    height: 40px;
    padding: 0 10px;
    background-color: var(--bg-alert-successful);
    border: none;
    color: var(--color-3);
    font-size: 14px;
    cursor: pointer;
}

.Templates__items{
    width: 100%;
}

.Templates__head{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 15% 40% 15% 20%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-alert-error);
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Templates__head>label{
    color: var(--color-3);
    font-weight: bold;
    text-align: center;
}

.Templates__item{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 15% 40% 15% 20%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.Templates__item>a{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.Templates__item>label{
    width: 100%;
    font-weight: 100;
    text-align: center;
}

/* ================================================ TEMPLATE ============================================ */
.Template{
    width: 60%;
}

.Template__structure{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.Template__inputText,.Template__inputDate,.Template__inputTextArea,.Template__Select{
    width: 100%;
    display: flex;
    font-weight: 100;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Template__inputText>input{
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(199, 199, 199);
    height: 40px;
}

.Template__inputDate>input{
    width: 100%;
    margin-top: 5px;
    height: 40px;
}

.Template__inputTextArea>textarea{
    width: 100%;
    margin-top: 5px;
    height: 60px;
}

.Template__Select>select{
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgb(199, 199, 199);
    margin-top: 5px;
    height: 40px;
}

.Template__Select>label,.Template__Select>span{
    height: 40px;
    padding: 5px 5px;
    background-color: var(--bg-2);
    border-radius: 2px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;
}

.Template__Select>label>span{
    width: 80%;
}

.Template__Select>label>img{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    justify-self: flex-end;
}

.Template__Select>input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    padding-left: 10px;
    border: 1px solid rgb(196, 196, 196);
}

.Template__Select>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.Template__Select>div>button{
    height: 35px;
    border-radius: 2px;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.option--check{
    background-color: var(--bg-alert-error) !important;
    color: var(--color-3) !important;
    font-weight: 600;
}

.view--button{
    display: block !important;
}

.view--subbutton{
    display: block !important;
}

.Template__buttons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.Template__button{
    height: 40px;
    padding: 0 10px;
    border-radius: 2px;
    background-color: var(--bg-alert-successful);
    border: none;
    color: var(--color-3);
    cursor: pointer;
    margin-top: 10px;
}

.Template__button--secondary{
    background-color: inherit !important;
    color: var(--color-1) !important;
    border: 1px solid;
}

/* PARA EL HISTORIAL */

.Historial__head{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 8% 8% 12% 8% 8% 6% 8% 8% 8% 17%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-alert-error);
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

.Historial__head>label{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-3);
}

.Historial__head>label>input{
    width: 95%;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    background-color: #FEC888;
}

.Historial__head>label>select{
    width: 95%;
    border: none;
    background-color: #FEC888;
    margin-top: 5px;
}

.Historial__head>label>input:focus{
    outline: none;
}

.Historial__item{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 8% 8% 12% 8% 8% 6% 8% 8% 8% 17%;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgb(174, 174, 174);
}
.Historial__item>label{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.Historial__item>button{
    width: 40px;
    cursor: pointer;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
}

@media screen and (min-width:300px) and (max-width:540px) {
    .Login{
        width: 90%;
    }
}