.CardStructure{
    width: 100%;
}

.CardStructure>span{
    display: block;
}

.CardStructure__detail{
    margin-top: 10px;
}

.CardStructure__detailHead{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px 0;
}