.CardStructure{
    width: 300px;
    background-color: var(--bg-2);
    border-radius: 5px;
}

.CardStructure>p{
    width: 100%;
    height: 40px;
    background-color: var(--bg-alert-successful);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-3);
    font-weight: bold;
    font-size: 14px;
}

.CardCondonacion__select{
    width: 100%;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.CardCondonacion__select>label{
    font-size: 14px;
}

.CardCondonacion__select>input[type="number"]{
    width: 50%;
    justify-self: flex-end;
}

.CardCondonacion__quotes{
    width: 100%;
    height: 150px;
    overflow-y: auto;
    padding: 10px 10px;
}

.CardCondonacion__quotes>div{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-bottom: 5px;
}

.CardCondonacion__quotes>div>label{
    text-align: center;
}

.CardStructure>button{
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--bg-alert-successful);
    border: none;
    color: var(--color-3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
