.CardListUpdate__container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.CardListUpdate__head{
    display: grid;
    grid-template-columns: 160px 110px 130px 110px 130px;
    gap: 8px;
    padding: 8px 12px;
    background-color: var(--bg-alert-error);
    color: #000;
    font-weight: bold;
    font-size: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
}

.CardListUpdate__head>label{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.CardListUpdate__head>label:first-child{
    text-align: left;
}

.CardListUpdateCarteras:nth-child(odd){
    background-color: var(--bg-2);
}

.CardListUpdateCarteras{
    position: relative;
}

.CardListUpdateCarteras>div{
    display: grid;
    grid-template-columns: 160px 110px 130px 110px 130px;
    gap: 8px;
    padding: 6px 12px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    position: relative;
}

.CardListUpdateCarteras>div>label{
    border: none;
    background-color: inherit;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: var(--bg-alert-successful);
    cursor: pointer;
}

.CardListUpdateCarteras>div>label>input{
    display: none;
}

.CardListUpdateCarteras>div>p{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    padding: 0;
    font-size: 13px;
    color: #333;
    margin: 0;
}

.CardListUpdateCarteras>div>p>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardListUpdateCarteras>div>p>div>button{
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    background-color: var(--bg-alert-error);
    cursor: pointer;
    font-size: 11px;
    color: var(--color-3);
    transition: all 0.2s ease;
}

.CardListUpdateCarteras>div>p>div>button:hover{
    background-color: #f9aa4a;
}

.CardListUpdateCarteras>div>button{
    padding: 6px 8px;
    width: 100%;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.CardListUpdateCarteras>div>button:hover{
    background-color: #0d9f6e;
}

.CardListUpdateCarteras>div>a{
    width: 100%;
    border-radius: 4px;
    color: var(--color-3);
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 6px 8px;
    background-color: var(--bg-alert-successful);
    transition: all 0.2s ease;
}

.CardListUpdateCarteras>div>a:hover{
    background-color: #0d9f6e;
}

.CardFail{
    width: 500px !important;
    height: initial !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px 16px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: fixed !important;
    top: 200px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    border: 1px solid rgb(203, 203, 203);
    background-color: var(--bg-2) !important;
}

.CardFail>button{
    width: 100px !important;
}

.CardFail>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px !important;
    flex-direction: column;
}