.InfoValues{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-2);
}
.InfoValues>h4{
    font-size: 18px;
    margin-bottom: 20px;
}

.InfoValues>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(195, 195, 195);
    margin-bottom:5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.InfoValues>div:last-child{
    border: none;
}

.InfoValues>div>h4{
    font-weight: normal;
    color: rgb(72, 72, 72);
}

.InfoValues__externalLink{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    background-color: rgb(74, 159, 238);
    border: none;
    border-radius: 5px;
    padding: 5px;
}