.PanelManagement{
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 20% 30% 50%;
    gap: 10px;
}

.PanelManagement__panelContact{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: calc(50% - 10px) 50%;
}


@media screen and (min-width:300px) and (max-width:540px) {
    .PanelManagement{
        grid-template-columns: 60% 40%;
    }
}

@media screen and (min-width:541px) and (max-width:1000px) {
    .PanelManagement{
        grid-template-columns: 60% 40%;
    }
}