.CardManualPay{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999 !important;
}

.CardManualPay__close{
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
    background-color: var(--bg-alert-successful);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.CardManualPay__close:hover{
    opacity: 0.8;
}

.CardManualPay__content{
    width: 60%;
    margin: 0 auto !important;
    border-radius: 5px;
    background-color: var(--bg-2);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CardManualPay__footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CardManualPay__footer>button{
    height: 40px;
    background-color: var(--bg-alert-successful);
    color: var(--color-3);
    border:none;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 2px;
    width: 100px;
}

.CardManualPay__data{
    width: 100%;
}

.CardManualPay__head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.CardManualPay__head>p>strong{
    color: var(--color-1);
    font-weight: 600;
}

.CardManualPay__cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 0;
    gap: 5px;
}

.CardManualPay__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-1);
    padding: 10px;

}

.CardManualPay__card>div{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    grid-template-columns: 60% 40%;
    margin-bottom: 10px;
}

.CardManualPay__card>div>p:first-child{
    font-weight: 600;
}

.CardManualPay__card>div:last-child{
    margin-bottom: 0;
}