:root {
  /*Colores de texto y fondo*/
  --color-1:#009793;
  --color-2:#FF9619;
  --color-3:white;
  --color-links:#05476b;
  --color-texts:#939393;
  --color-4:#B5B5B5;
  --color-5:#4A4A4A;
  --color-error:#BB3106;

  --bg-1:#F6F6F6;
  --bg-2:white;
  --bg-buttons:#009793;
  --bg-alert-successful:#009793;
  --bg-alert-error:#FF9619;
  --bg-alert-error-reduce:#f5be7a;
  --bg-choosed:#d3d3d3;
  --bg-button-call:#009FE3;
  --bg-alert-error-pr:var(--color-4);
  --color:#459d9a;
  --bg-transparent:rgba(0, 0, 0, 0);
  --box-shadow: 0 2px 5px rgba(119, 119, 119, 0.319);
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
}

body{
  background-color: var(--bg-1);
}

.rpn-notification-holder{
  width: 300px !important;
  border-bottom: none !important;
}
.rpn-notification-card-bottom,.rpn-notification-card{
  width: 300px !important;
  box-shadow: none;
}

.rpn-notification-card{
  border-bottom: none !important;
}

.rpn-notification-card-bottom>.subtitle{
  font-size: 14px;
}

.rpn-notification-card-bottom>.message{
  font-size: 14px !important;
  font-weight: 100 !important;
}

.rpn-notification-card-top>span{
  font-size: 14px;

}